@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

/* =========================VARIABLES========================= */
:root {
  --main-yellow: hsl(42, 94%, 54%);
  --main-yellow-transparent: hsla(42, 94%, 54%, 0.8);
  --main-lightblue:	hsl(182, 59%, 45%);
  --main-lightblue-hover:	hsl(182, 59%, 40%);
  --main-lightblue-transparent:	hsla(182, 59%, 45%, 0.8);
  --main-darkblue: 	hsl(199, 67%, 18%);
  --main-darkblue-hover: 	hsl(199, 67%, 25%);
  --main-darkblue-transparent: 	hsla(199, 67%, 18%, 0.8);
  --main-body:	hsl(0, 0%, 97%);
  --main-body-opposite: 	hsl(75, 50%, 98%);
  --outline-grey: hsl(40, 4%, 88%);
  --text-grey: hsl(30, 1%, 64%);
  --danger: 	hsl(354, 70%, 54%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-body);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

/* =========================GENERAL========================= */
.logo__main {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.logo__main-img {
  width: 40%;
}

.page__header-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.page__header-container .page__header {
  margin-top: 0;
  justify-self: center;
}

.page__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-darkblue);
}

.page__header-postproperty {
  max-width: 600px;
  margin: 0 auto 1.5rem auto;
}

.page__container,
.offers,
.profile,
.listing__details,
.category,
.explore {
  margin: 70px 1rem 1rem;
}
@media (min-width: 1024px) {
  .page__container,
  .offers,
  .profile,
  .listing__details,
  .category,
  .explore {
    margin: 80px 1rem 1rem;
  }
}

.page__header {
  font-size: 2rem;
  font-weight: 800;
}

.input,
.password__input,
.email__input,
.name__input,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .input,
  .password__input,
  .email__input,
  .name__input,
  .textarea {
    padding: 0 5rem;
  }
}

.primaryButton {
  cursor: pointer;
  background: var(--main-yellow);
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__goback {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 6px;
  border-radius: 50%;
  border: 1px groove var(--outline-grey);
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

/* =========================NAVBAR========================= */
.navbar__container {
  background-color: var(--main-body);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 3.5rem;
  width: 100%;
  z-index: 10;
}

.navbar__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.navbar__logo {
  margin-left: 0.5rem;
  height: 70%;
  cursor: pointer;
}

.navbar__toggle-hamburger {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.navbar__toggle-cross--open {
  position: absolute;
  top: 0.5rem;
  right: 70vw;
  margin-right: 0.5rem;
  border-radius: 50%;
  height:2.5rem;
  width: 2.5rem;
  box-sizing: content-box;
  background-color: white;
  z-index: 10;
}

.navbar__toggle-cross--close {
  display: none;
}

.body__background__navbar--open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 0%, 0.5);
  z-index: 2;
  transition: background-color 0.3s;
}

.body__background__navbar--close {
  width: 0;
  background-color: hsl(0, 0%, 0%, 0);
}

.navbar__links {
  background-color: var(--main-darkblue);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 70%;
  transition: width 0.3s ease;
}

.navbar__links--close {
  width: 0;
} 

.navbar__links ul {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 15;
}

.navbar__links li {
  list-style: none;
  padding: 1rem;
  display: block;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar__links li:hover {
  background-color: var(--main-darkblue-hover);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar__links {
    width: 55%;
  }

  .navbar__links--close {
    width: 0;
  } 

  .navbar__toggle-cross--open {
    right: 55vw;
  }

}

@media screen and (min-width: 1024px) {
  .navbar__toggle-hamburger,
  .navbar__toggle-cross--open,
  .navbar__toggle-cross--close,
  .body__background__navbar--close,
  .body__background__navbar--open {
    display: none;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    z-index: 10;
  }
  
  .navbar__logo-img {
    margin-left: 0.5rem;
    height: 70%;
    cursor: pointer;
  }
  
  .navbar__links, .navbar__links--close {
    background-color: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
    height: inherit;
    width: 70%;
  }

  .navbar__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar__links li {
    list-style: none;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--main-darkblue);
  }

  .navbar__links li:hover {
    color: var(--main-yellow);
    background-color: inherit;
    transition: color 0.3s;
  }

}


/* =========================SIGN IN & SIGN UP========================= */
.email__input {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.password__inputDiv {
  position: relative;
}

.password__input {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}

.signIn__div,
.signUp__div {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signIn__button,
.signUp__button,
.signIn__text,
.signUp__text {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signIn__div,
  .signUp__div {
    justify-content: start;
  }
}

.signIn__text,
.signUp__text {
  font-size: 1.5rem;
  font-weight: 700;
}

.signIn__button,
.signUp__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signIn__button,
  .signUp__button {
    margin-left: 3rem;
  }
}

.signUpLink {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.socialLogin {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcon__div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIcon__img {
  width: 100%;
}

.name__input {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

/* =========================PROFILE========================= */
.profile {
  margin-bottom: 10rem;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.profile__detailsDiv {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.profile__text {
  font-weight: 600;
}

.changeDetails {
  cursor: pointer;
  font-weight: 600;
  color: #00cc66;
}

.profile__card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profile__name,
.profile__email,
.profile__address,
.profile__addressActive,
.profile__emailActive,
.profile__nameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profile__nameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile__email,
.profile__address,
.profile__addressActive,
.profile__emailActive {
  font-weight: 500;
}
.profile__emailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile__addressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.create__listing {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-text {
  margin-top: 3rem;
  font-weight: 600;
}

.listing-list {
  padding: 0;
}

.icon__edit {
  cursor: pointer;
  position: absolute;
  top: -3.4%;
  right: 20px;
}

.icon__remove {
  cursor: pointer;
  position: absolute;
  top: -3%;
  right: -2%;
}
/* =========================EXPLORE========================= */
@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.explore__heading,
.explore__categoryHeading {
  font-weight: 700;
}

.explore__categoryHeading {
  margin-top: 3rem;
}

.explore__categories-container {
  width: 90%;
  margin: 3.5rem auto;
}
@media screen and (min-width: 768px){
  .explore__categories-container {
    width: 50%;
  }
}

.explore__categories {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  gap: 1rem;
}

.explore__category {
  background-color: var(--main-lightblue-transparent);
  text-align: center;
  flex-grow: 1;
  border-radius: 10px;
  padding: 1.25rem 3rem;
}

.explore__category:hover {
  background-color: var(--main-lightblue-hover);
}

.explore__category-img {
  width: 3rem;
}

.explore__category-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: var(--main-darkblue);
}

.explore__category-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow-transparent);
  text-align: center;
  border-radius: 10px;
  padding: 1.25rem 3rem;
}

.explore__category-post:hover {
  background-color: var(--main-yellow);
}

.explore__category-post img {
  margin-right: 1rem;
}

/* =========================CATEGORY LISTINGS========================= */
.category__listings {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .category__listings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .category__listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }
}

.category__listing {
  margin: 2.5rem 0;
  height: max-content;
  border-radius: 10px;
  border: 1px solid var(--outline-grey);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: white;
}

.category__listing-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  position: relative;
}

.category__listing-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-position: center;
}
@media (min-width: 1024px) {
  .category__listing-img {
    width: 100%;
    height: 217px;
  }
}
@media screen and (min-width: 440px) {
  .category__listing-img {
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .category__listing-img {
    min-width: 60%;
    height: 10rem;
  }
}

.category__listing-content {
  width: 100%;
  padding: 0.5rem
}
@media (min-width: 1024px) {
  .category__listing-content {
    width: 100%;
  }
}

.category__listing-location {
  display: flex;
  align-items: start;
  margin: 0.5rem 0;
}

.category__listing-location img {
  width: 0.75rem;
  margin: 0.25rem 0.25rem 0 0;
  filter: invert(71%) sepia(0%) saturate(5390%) hue-rotate(81deg) brightness(86%) contrast(87%);
}

.category__listing-location p {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  margin: 0;
  color: var(--text-grey);
}

.category__listing-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
  color: var(--main-darkblue);
}

.category__listing-price {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--main-darkblue);
  margin: 0;
  border-radius: 10px;
}

.category__listing-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.category__listing-infos {
  display: block;
  margin: 0 auto;
  padding: 0 0.25rem;
  border-top: 1px solid var(--outline-grey);
}
@media screen and (min-width: 440px) {
  .category__listing-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .category__listing-infos {
    display: flex;
  }
}

.category__listing-info {
  display: flex;
  margin: 0 0.25rem;
}

.category__listing-info-text {
  font-weight: 500;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px){
  .category__listing-info-text {
    /* font-size: 1rem; */
    margin: 0.5rem 0;
  }
}

.category__listing-load{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem 0.5rem;
  background-color: var(--main-yellow-transparent);
  color: var(--main-darkblue);
  font-weight: 600;
  border-radius: 10px;
  opacity: 1;
  margin-top: 2rem;
}

.category__listing-load:hover {
  background-color: var(--main-yellow);
}

.category__listing-load p {
  margin: 0;
}

.category__listing-load img{
  height: 1rem;
  margin: 0 0.5rem;
}


/* =========================CREATE LISTING========================= */
.form__post-property {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form__label {
  font-weight: 600;
  margin-top: 1.5rem;
  display: block;
}

.form__buttons {
  display: flex;
  width: 100%;
  max-width: 300px;
}

.form__inputAddress {
  resize: none;
}

.form__button,
.form__input,
.form__inputAddress,
.form__inputName,
.form__inputSmall,
.form__inputFile,
.form__button--active {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border: 1px solid var(--outline-grey);
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.form__button--active {
  background-color: var(--main-lightblue);
  color: #ffffff;
}

.flex {
  display: flex;
}

.form__rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}

.form__priceDiv {
  display: flex;
  align-items: center;
}

.form__priceText {
  font-weight: 600;
}

.imagesInfo {
  font-size: 0.9rem;
  opacity: 0.75;
}

.form__inputFile {
  width: 100%;
}
.form__inputFile::-webkit-file-upload-button {
  background-color: var(--main-lightblue);
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.createListingButton {
  margin-top: 5rem;
}

/* =========================SWIPER========================= */
.swiper {
  cursor: pointer;
  min-height: 300px;
  height: 35vw;
  background-color: white;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-yellow) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  padding: 1.5rem 1rem;
  background-color: hsl(0, 0%, 0%, 0.3);
}
@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important; 
  }
}

.swiper__slide {
  width: 100%;
  height: 100%;
}

.swiper__slide-img-container {
  position: relative;
  height: 60%;
}
@media screen and (min-width: 480px) {
  .swiper__slide-img-container {
    height: 65%;
  }
}
@media screen and (min-width: 1024px) {
  .swiper__slide-img-container {
    height: 75%;
  }
}

.swiper__slide-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper__slide-name {
  position: absolute;
  top: 0.25rem;
  color: var(--main-body);
  background-color: var(--main-darkblue-transparent);
  font-weight: 600;
  max-width: 90%;
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.25rem;
  padding-right: 0.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .swiper__slide-name {
    position: absolute;
    top: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 0.5rem;
  }
}

.swiper__slide-type {
  position: absolute;
  bottom: 0.25rem;
  color: var(--main-body);
  padding: 0.25rem;
  padding-right: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  background-color: var(--main-lightblue-transparent);
  font-size: 0.75rem;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .swiper__slide-type {
    position: absolute;
    right: 0;
    top: 0.5rem;
    bottom: auto;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10px 0 0 10px;
  }
}

.swiper__slide-loc-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .swiper__slide-loc-container  {
    margin: 0.5rem 0.25rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.swiper__slide-location {
  display: flex;
  align-items: start;
  margin: 0.25rem 0;
}

.swiper__slide-location img {
  width: 1rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  filter: invert(71%) sepia(0%) saturate(5390%) hue-rotate(81deg) brightness(86%) contrast(87%);
}

.swiper__slide-location p {
  color: var(--main-darkblue);
  font-size: 1rem;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .swiper__slide-location p {
    color: var(--main-darkblue);
    font-size: 1.25rem;
    margin: 0;
  }
}

.swiper__slide-price {
  color: var(--main-lightblue);
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 90%;
  padding: 0.25rem 0;
  margin: 0;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .swiper__slide-price {
    font-size: 1.5rem;
  }
}

/* =========================EACH FETCHED LISTING========================= */
.icon__share {
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--copied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.listing__details {
  margin-bottom: 10rem;
}

.listing__name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.leaflet__container {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .leaflet__container {
    height: 400px;
  }
}

.listing__location {
  margin-top: 0;
  font-weight: 600;
}

.listing__type {
  padding: 0.25rem 0.5rem;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.price__discount {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}

.listing__details-list {
  padding: 0;
  list-style-type: none;
}
.listing__details-list li {
  margin: 0.3rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.listing__location-title {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}


/* =========================CONTACT PAGE========================= */
.contact__owner {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.owner__name {
  font-weight: 600;
  font-size: 1.2rem;
}

.message__form {
  margin-top: 0.5rem;
}

.message {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.message__label {
  margin-bottom: 0.5rem;
}


