@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

/* =========================GENERAL========================= */
.page__container,
.offers,
.profile,
.listingDetails,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .page__container,
  .offers,
  .profile,
  .listingDetails,
  .category,
  .explore {
    margin: 3rem;
  }
}

.page__header {
  font-size: 2rem;
  font-weight: 800;
}

.input,
.password__input,
.email__input,
.nameInput,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .input,
  .password__input,
  .email__input,
  .nameInput,
  .textarea {
    padding: 0 5rem;
  }
}

/* =========================NAVBAR========================= */
.navbar__container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__nav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbar__items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__itemName,
.navbar__itemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbar__itemNameActive {
  color: #2c2c2c;
}

/* =========================SIGN IN & SIGN UP========================= */
.email__input {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.password__inputDiv {
  position: relative;
}

.password__input {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}

.signIn__div,
.signUp__div {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signIn__button,
.signUp__button,
.signIn__text,
.signUp__text {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signIn__div,
  .signUp__div {
    justify-content: start;
  }
}

.signIn__text,
.signUp__text {
  font-size: 1.5rem;
  font-weight: 700;
}

.signIn__button,
.signUp__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signIn__button,
  .signUp__button {
    margin-left: 3rem;
  }
}
